@import './lib/index.less';

@primary-color:#00375B;
@normal-color: #d9d9d9;
@body-background: #fff;
@nont-cize:#454;
@component-background: #fff;

.box{
    width: 100px;
    height: 200px;
    display: block;
    background: @normal-color;
}