@primary-color:#00375B;
.content{
    font-size: responsive 12px 21px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    color: rgba(#fff, 0.8);
    text-align: center;
    background-color:red;
    border-radius: 20px;
    transition: all 0.3s ease;
}